# Dependencies
node_modules/

# Environment variables
.env

# Logs
*.log

# Build output
dist/
build/

# Operating System Files
.DS_Store
Thumbs.db

# IDE and Editor Files
.vscode/
.idea/
*.swp
*.swo

# Temporary files
*.tmp
*.temp

# Test coverage
coverage/

# Yarn
yarn-error.log
.pnp/
.pnp.js

# npm
npm-debug.log*

# Bun
bun.lockb